@{
    ViewBag.Title = "Головна";
}
<div class="text-center">
    <h2>Вітаємо на сторінці про Тараса Григоровича Шевченка</h2>
    <p>
        Тут ви можете дізнатися більше про життя та творчість видатного українського поета та художника.
    </p>
    <img src="https://naurok.com.ua/uploads/files/23884/11099/11258_images/1.jpg" class="img-fluid" alt="https://naurok.com.ua/uploads/files/23884/11099/11258_images/1.jpg" />

</div>
